main.SubmitIncidentReportContainer section.AuthSupStyle {
    display: flex;
    flex-direction: column;
}

main.SubmitIncidentReportContainer textarea.IncidentTextArea {
    width: 100%;

}

main.SubmitIncidentReportContainer input.FormInputsStyle {
    width: 100%;
}
