
main.SubmitIncidentReportContainer {
    padding: 20px;
    animation: FadeIn .7s;
}

main.SubmitIncidentReportContainer section.AuthSupStyle {
    display: flex;
    flex-direction: column;
}

main.SubmitIncidentReportContainer textarea.IncidentTextArea {
    width: 100%;
    max-width: 100%;
}

main.SubmitIncidentReportContainer input.FormInputsStyle {
    width: 100%;
}

main.SubmitIncidentReportContainer h3.NewReportTitle {
    text-align: center;
}

main.SubmitIncidentReportContainer section.BackCrumbContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}