main.DeleteButtonContainer {
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-width: 2px;
    border-radius: 8px;
    margin: 2px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
main.DeleteButtonContainer:hover {
    background-color: #F8D2C0;
    transition: .25s;
}

main.DeleteButtonContainer button.DeleteButton {
    background-color: rgba(197, 197, 197, 0);
    border-style: none;
    border-color: rgba(197, 197, 197, 0);
    cursor: pointer;
}

