

main.EmergencyContactsUpdaterContainer section.ShiftUpdaterForm {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 10;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.418);
    display: flex;
    justify-content: center;
    align-items: center;

}

main.EmergencyContactsUpdaterContainer form.InputFormUpdater {
    border-style: none;
    border-radius: 5px;
    background-color: rgb(197, 197, 197);
    padding: 15px;
    margin: 10px;
    height: 60%;
    width: 80%;
}

button.editIcon {
    border-style: solid;
    border-radius: 5px;
    background: none;
    margin: 5px;
}