main.EmergencyContactContainer {
    padding: 20px;
}

main.EmergencyContactContainer h3.ContactTitle {
    text-align: center;
}

main.EmergencyContactContainer div.ContactLabelInputContainer {
    display: flex;
    flex-direction: column;

}

main.EmergencyContactContainer section.BackCrumbContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}