main.IncidentReportLogContainer {
    border-style: none;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    box-shadow:  3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

main.IncidentReportLogContainer section.ReportHeaderSection {
    display: flex;
    justify-content: space-between;
}

main.IncidentReportLogContainer section.UpdateDeletecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main.IncidentReportLogContainer section.incident-author-supervisor-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main.IncidentReportLogContainer section.ReportLogSections {
    margin: 20px 0;
}

/* span {
    
    border: hidden;
    border-bottom: groove #ffffff;
} */