main.NewLogContainer {
    padding: 20px;
    animation: FadeIn .7s;
}

main.NewLogContainer form.logInputForm {
    border-style: none;
    border-radius: 5px;
    background-color: rgb(197, 197, 197);
    padding: 15px;
}

main.NewLogContainer h3.NewLogTitle {
    text-align: center;
}

main.NewLogContainer div.logInputInfoContainer {
    display: flex;
    flex-direction: column;
}

main.NewLogContainer div.InputOptions {
    display: flex;
    flex-direction: column;
}

main.NewLogContainer div.FinishButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

main.NewLogContainer textarea.logEntry {
    height: 10rem;
    width: 100%;
}

main.NewLogContainer section.BackCrumbContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}