main.UpdateButtonContainer button.ModalToggle {
    background-color: rgba(197, 197, 197, 0);
        border-style: solid;
        border-width: 2px;
        border-radius: 5px;
        height: 32px;
        width: 38px;
}