main.ShiftLogUpdaterContainer form.hidden {
    display: none;
}

main.ShiftLogUpdaterContainer section.ShiftUpdaterForm {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 10;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.418);
    display: flex;
    justify-content: center;
    align-items: center;

}

main.ShiftLogUpdaterContainer section.UpdateClickableSection {
    display: flex;
    justify-content: flex-end;
    padding: 3px;

}

main.ShiftLogUpdaterContainer div.UpdateClickableDiv {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 2px 6px;
}


main.ShiftLogUpdaterContainer form.InputFormUpdater {
    border-style: none;
    border-radius: 5px;
    background-color: white;
    padding: 15px;
    margin: 10px;
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;

}

main.ShiftLogUpdaterContainer button.ModalToggle {
    background-color: rgba(197, 197, 197, 0);
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: rgb(192, 192, 192);
    height: 32px;
    width: 38px;
}

main.ShiftLogUpdaterContainer h3.NewLogTitle {
    text-align: center;
}

main.ShiftLogUpdaterContainer section.SubmitButtonContainer {
    display: flex;
    align-items: center;
}