main.IncidentReportLogs {
    padding: 20px;
    animation: FadeIn .7s;
}

main.IncidentReportLogs h3.IncidentTitle {
    text-align: center;
}


main.IncidentReportLogs section.SearchOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.incident-search-field {
    width: 3000px;
}