.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    background: #f17841;
    height: 100px;
    position: relative;
    top: 0;
    left: 0;
    /* padding-top: 20px; */
    box-shadow:  3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
}

.header-banner {
    margin-top: 0;
    font-size: 1.5rem;
    margin-bottom: 0;
}



