main.DailyShiftLogContainer section.SearchOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

main.DailyShiftLogContainer button.ResetButton {
    width: 40%;
}