
main.DailyShiftLogContainer {
    padding: 20px;
    animation: FadeIn .7s;
}

main.DailyShiftLogContainer section.SearchOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}



main.DailyShiftLogContainer section.ShiftLogsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
