main.ShiftLogContainer {
    padding: 5px;
    padding-left: 10px;
    width: 90%;
    max-width: 800px;
    margin-top: 20px;
    animation: FadeIn .7s;
}

main.ShiftLogContainer section.LogAuthorTime {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    padding-left: 10px;
    padding-right: 10px;
    border-style: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color:  #ffffff;
    box-shadow:  3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

main.ShiftLogContainer section.AuthDateSection{
    display: flex;
    flex-direction: row;
    justify-content: space space-around;
}

main.ShiftLogContainer section.PersonUpdateSection {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-top-style: none;
    border-top-left-radius: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #ffffff;
    box-shadow:  3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    /* position: relative; */
}

/* .PersonUpdateSection::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 8px;
    top: 0;
    left: 0;
    box-shadow:  3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    z-index: -1;
    
} */

main.ShiftLogContainer p.ParaInfo{
    margin: 5px;
}


main.ShiftLogContainer section.UpdateDeleteSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


main.ShiftLogContainer div.MainDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}