main.BackButtonContainer {
    display: flex;
    justify-content: center;
    margin: 5px;
}


button.BackButton {
    border-style: none;
    font-weight: 700;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    border-width: 2px;
    background-color: #F5A17A;;
    color: #ffffff;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: .25s
}

button.BackButton:hover {
    background-color: #ee5e1b;
    box-shadow:  3px 3px 4px 4px rgba(0, 0, 0, 0.3);
}