main.home-screen-main {
    margin-top: 10px;
    animation: FadeIn .7s;
}

main.home-screen-main div.home-screen-container {
    display: flex;
    flex-direction: column;
}


main.home-screen-main section.home-screen-options-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.home-screen-main button.home-screen-button {
    width: 100%;
    margin: 10px;
    height: 40px;
    border-style: none;
    border-radius: 8px;
    background-color: #F17841;
    color: #ffffff;
    font-weight: 700;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.25s;
}

main.home-screen-main button.home-screen-button:hover {
    background-color: #ee5e1b;
    box-shadow:  3px 3px 4px 4px rgba(0, 0, 0, 0.3)
}

section.hidden {
    display: none;
}

.home-screen-button-link {
    width: 70vw;
}