.timeBlockContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2);
    width: 95%;
}

.timeBlockScheduleRowContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.timeBlockDateHeaderRight {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 50px;
    width: 200px;
}

.timeBlockContainerHeaderContainer {
    display: flex;
    justify-content: flex-end;
}

.timeBlockIconContainer {
    display: flex;
    justify-content: flex-start;
    margin-left: 5px;
    align-items: center;
    height: 50px;
}

div.timeBlockIconContainer span {
    margin-top: 7px;
}