body {
    /* #e9ecef */
    background-color: #fff;
/* background-image: linear-gradient(315deg, #e9ecef 0%, #fff 50%, #ffffff 100%);; */
}

* {
    font-family: sans-serif;

}

/* ////** Global styles for reuseable elements between components *\\\\\ */


/* *** Containers *** */


/* Global Submit Form Container */

input {
    border: hidden; 
    border-bottom: groove #ffffff;
    height: 30px;  
}

/* TAKE OUT IF NO LIKEY */
input:focus {
    background: #FEF2EC;
    outline: none;
}
/* TAKE OUT IF NO LIKEY */

textarea {
    border: hidden;
    border-left: groove #ffffff;
    border-bottom: groove;
}

form.InputForm {
    border-style: none;
    border-radius: 5px;
    background-color: #ffffff;
    width: 98%;
    max-width: 900px;
    padding: 15px;
    margin: 10px auto 10px auto;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    animation: FadeIn .7s;
} 


div.InputOptions {
    display: flex;
    flex-direction: column;
}

section.InputOptions {
    display: flex;
    flex-direction: column;
}

/* *** Buttons *** */


/* Global Back button */

button.BackButton {
    border-style: none;
    font-weight: 700;
    border-radius: 8px;
    width: 60px;
    height: 30px;
    border-width: 2px;
    background-color: #F17841;
    color: #ffffff;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: .25s
}

button.BackButton:hover {
    background-color: #ee5e1b;
    box-shadow:  3px 3px 4px 4px rgba(0, 0, 0, 0.3);
}

section.BackButtonLinkContainer {
    display: flex;
    justify-content: center;
    margin: 10px;
}

/*  Global Submit button */

button.SubmitButton {
    border-style: none;
    font-weight: 700;
    border-radius: 5px;
    height: 50px;
    width: 80%;
    max-width: 685px;
    margin-bottom: 10px;
    background-color: #F17841;
    color: #ffffff;
    box-shadow:  3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    transition: .5s;
    cursor: pointer;
}

/* TEST */
.SubmitButton:hover{
    background-color: #ee5e1b;
    box-shadow:  3px 3px 4px 4px rgba(0, 0, 0, 0.3);
}

section.SubmitButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


/* Delete Button */

button.DeleteButton {
    border-style: solid;
    border-radius: 5px;
    background: none;
    margin: 5px;
}

/* Reset Button */

button.ResetButton {
    border-style: solid;
    border-radius: 5px;
    background: none;
    margin: 5px;
}


/* *** Headers *** */

h3.CenterTextTitle {
    text-align: center;
}



