* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',  'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.trashIcon {
  cursor: pointer;
  /* filter: drop-shadow(1px 5px 5px rgba(0, 0, 0, .7)); */
}

.trashIcon:hover{
  /* filter: drop-shadow(1px 5px 8px rgba(0, 0, 0, .9)); */
}

.editIcon {
  cursor: pointer;
  /* filter: drop-shadow(1px 5px 5px rgba(0, 0, 0, .7)); */
}

.editIcon:hover{
  /* filter: drop-shadow(1px 5px 8px rgba(0, 0, 0, .9)); */
}


@keyframes FadeIn {
  from {
      opacity: 0;
  }to{
      opacity:1;
  }
}




