main.login-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

main.login-main form.login-form{
background: rgb(197, 197, 197);
 border-style: solid;
 border-color: black;
 border-width: 2px;
 border-radius: 20px;
 width: 60%;
 margin: 30px 0 0 0;
 padding: 20px;
}


main.login-main h3.login-title {
    text-align: center;
    font-size: 30px;
}


main.login-main section.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.login-main label.login-label {
    margin:  20px 0 10px 0;
    text-align: center;
    width: 80%;
    font-size: 20px;
}

main.login-main input.login-input {
    width: 80%;
    height: 30px;
    border-radius: 10px;
}

main.login-main button.login-submit-button {
    margin: 60px 0 20px 0;
    border-radius: 8px;
    height: 30px;
    width: 100%;
}

main.login-screen section.HeroLoginSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

main.login-screen div.HeroShotLoginDiv {
    border-style: solid;
    border-color: red;
    border-width: 2px;
    width: 50%;
    height: 60px;
}
