main.login-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

main.login-main form.login-form{
background: rgb(197, 197, 197);
 border-style: solid;
 border-color: black;
 border-width: 2px;
 border-radius: 20px;
 width: 60%;
 margin: 30px 0 0 0;
 padding: 20px;
}


main.login-main h3.login-title {
    text-align: center;
    font-size: 30px;
}


main.login-main section.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.login-main label.login-label {
    margin:  20px 0 10px 0;
    text-align: center;
    width: 80%;
    font-size: 20px;
}

main.login-main input.login-input {
    width: 80%;
    height: 30px;
    border-radius: 10px;
}

main.login-main button.login-submit-button {
    margin: 60px 0 20px 0;
    border-radius: 8px;
    height: 30px;
    width: 100%;
}


/*  sign in section */

main.login-screen section.SignedInSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 5px;
    height: 30px;
    margin-top: 40px;
    /* position: relative; */
}

main.login-screen section.SignedOutSection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 5px;
    height: 30px;
    margin-top: 40px;
    /* position: relative; */
}

main.login-screen div.StylishDivSize3 {
    height: 20px;
    width: 14px;
    border-radius: 3px;
    margin: 0 10px;
    background-color: rgba(248, 222, 210, 0.5);
}

main.login-screen section.SignInButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.SignInButton {
    font-size: 12px;
    right: 2rem;
    top: -2px;
    cursor: pointer;
    color: #F17841;
    background: rgba(248, 222, 210, 0.5);
    padding: 4px;
    border-radius: 5px;

}


.signOutButton {
    font-size: 12px;
    right: 2rem;
    top: -2px;
    cursor: pointer;
    color: #F17841;
    background: rgba(248, 222, 210, 0.5);
    padding: 4px;
    border-radius: 5px;

}

main.login-screen span.SignInButton {
    color: #F17841;
    background: rgba(248, 222, 210, 0.5);
    padding: 4px;
    border-radius: 5px;
}