main.login-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

main.login-main form.login-form{
background: rgb(197, 197, 197);
 border-style: solid;
 border-color: black;
 border-width: 2px;
 border-radius: 20px;
 width: 60%;
 margin: 30px 0 0 0;
 padding: 20px;
}


main.login-main h3.login-title {
    text-align: center;
    font-size: 30px;
}


main.login-main section.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.login-main label.login-label {
    margin:  20px 0 10px 0;
    text-align: center;
    width: 80%;
    font-size: 20px;
}

main.login-main input.login-input {
    width: 80%;
    height: 30px;
    border-radius: 10px;
}

main.login-main button.login-submit-button {
    margin: 60px 0 20px 0;
    border-radius: 8px;
    height: 30px;
    width: 100%;
}



/* Login Screen styles */

main.login-screen section.HeroShotLoginSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

main.login-screen div.HeroShotLoginDiv {
    border-style: solid;
    border-color: #F17841;
    background-color: #F17841;
    border-radius: 10px;
    border-width: 2px;
    margin: 20px;
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.login-screen h2.AppName {
    text-align: center;
    color: white;
}

/*  sign in section */

main.login-screen section.SignedInSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    background-color: #f3eae6;
}




/* fun stylish thing  */

main.login-screen section.StylishDivsContainerSize1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    padding: 0 40px;
}

main.login-screen div.StylishDivSize1 {
    height: 40px;
    width: 30px;
    border-radius: 5px;
    margin: 0 10px;
    background-color: #f1a886;
}


/*  size 2 */

main.login-screen section.StylishDivsContainerSize2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

main.login-screen div.StylishDivSize2 {
    height: 20px;
    width: 14px;
    border-radius: 3px;
    margin: 0 10px;
    background-color: #f1d5c7;
}