main.EmergencyContactItemContainer {
    border-style: none;
    border-radius: 8px;
    padding: 20px;
    margin: 10px auto 10px auto;
    width: 95vw;
    max-width: 576px;
    /* background-color: rgb(197, 197, 197); */
    background-color: #ffffff;
    box-shadow:  3px 3px 3px 3px rgba(0, 0, 0, 0.2);
    animation: FadeIn .7s;
}


main.EmergencyContactItemContainer  section.UpdateDeleteSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main.EmergencyContactItemContainer section.NameUpdateSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}